.table {
    width: 100%;
    background-color: #fff;
    border: 1px solid #DEF0EB;
    border-radius: 8px;
    padding: 16px 0;
    .table-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        border-bottom: 1px solid #DFE0EB;
        padding-bottom: 12px;
        span {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: #9FA2B4;
        }

        .span1 {
            margin-right: 40px;
        }
    }
}